@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-brand-dark text-gray-200 font-sans antialiased;
  }

  /* + Fix for prose and highlight.js conflict */
  .prose pre {
    @apply bg-transparent p-0;
  }
}

/* Custom scrollbar for a more professional feel */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #1c1c1e;
}
::-webkit-scrollbar-thumb {
  background: #3a3a3c;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}